{% extends 'base.html' %}

{% block title_head %}
<title> Inicio </title> 
{% endblock title_head %}

{% block h1_header %}
INFORMES DE ACCIDENTES AEREOS
<h4>
    ¡Bienvenido a nuestra página de Informes de Accidentes Aéreos! <br>
    <br>
    <br>
    <br>
    ● Carga y busca informes de accidentes aéreos en un solo lugar. <br>
    <br>
    ● Encuentra información detallada sobre incidentes pasados y contribuye con tus propios informes. <br>
    <br>
    ● Nuestra plataforma promueve la seguridad y el aprendizaje colectivo para prevenir futuros sucesos. <br>
    <br>
    <br>
    <br>
    Únete a nosotros en esta misión por una industria de la aviación más segura. 
</h4>
{% endblock h1_header %}


